#homecontainer {
  background-color: #471323;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
}
#nameinput {
  width: 25vw;
  padding: 1vw;
  text-align: center;
  font-size: x-large;
  margin-bottom: 1vw;
  border-radius: 5px;
  animation: opacidad 3s;
}
#nameinput::placeholder {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
#enviar {
  width: 10vw;
  padding: 0.5vw;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  animation: opacidad 3s;
}
@keyframes opacidad { 
    from {opacity: 0 ;}
    to {opacity: 1 ;}
}