@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background: rgb(66, 54, 54);
}
.background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
}
.tittle {
  display: flex;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.918);
  padding: 5px;
  margin-left: 8vw;
  margin-top: 5vw;
}
.linetittle {
  display: flex;
  width: 30vw;
  background-color: white;
  height: 0.1vh;
  margin-left: 8vw;
}
.description {
  display: flex;
  margin-left: 8vw;
  padding: 10px;
  font-weight: 100;
  width: 30vw;
  color: rgba(255, 255, 255, 0.795);
}

.time {
  display: flex;
  width: 80%;
  background-image: linear-gradient(120deg, #fdfbfb 75%, #858585 25%);
  height: 0.2vh;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .tittle {
    justify-content: center;
    margin-left: 0;
  }
  .linetittle {
    width: 90vw;
    margin: auto;
  }
  .description {
    width: 90vw;
    margin: auto;
  }
  .controls {
    left: 5vw;
    font-size: 3vw;
  }
}
